/* General Styles */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {font-family: 'GunPlayFont', sans-serif;
    background: #7a5d7c;
    color: #333;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}


/* Creating a new font */
@font-face {
    font-family: 'GunPlayFont';
    src: url('../fonts/gunplay\ rg.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Navigation Bar */
header {position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #624a63;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 3% 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {font-size: 30px;
    color: white;
}

.logo:hover {
    scale: 0.95;
    transition: 0.3s;
}

.navigation {
    list-style: none;
}

.navigation li {
    position: relative;
    float: left;
}

.nav-links {
    font-size: 18px;
    color: white;
    padding: 20px;
    display: block;
}

.nav-links:hover {
    color: white;
    background: #3e2f3e;
}

.user-profile {
    position: absolute;
    left: 0;
    width: 165px;
    background: #674e68b9;
    display: none;
}

.user-profile li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
    list-style: none;
}

/* For further lists within the navigation bar */
.user-profile li ul {
    left: 165px;
    top: 0;
}

.navigation li:focus-within > .user-profile,
.navigation li:hover > .user-profile {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width:898px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #624a63;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    .nav-links {
        text-align: right;
    }

    .navigation li {
        width: 100%;
    }

    .user-profile {
        position: relative;
        width: 100%;
    }

    .user-profile li {
        background: #674e68b9;
    }

    /* For further lists within the navigation bar */
    .user-profile li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ nav {
        display: initial;
    }

    footer {
        font-size: 14px;
    }
}
/* Hero Section */ 

.hero:after {
    content: "";
    background:white;
    position: absolute;
    opacity: .55;
    top: 0;
    left: 0;
    height: 102%;
    width: 100%;
    transition: all .25s ease;}

.hero {
    margin-top: 70px; 
    margin-bottom: 70px;
    height: 90vh;
    background: url('./images/Blocks-Mathematics-wallpaper.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #624a63;}

.hero h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #624a63;}

.overlay-text {
    position: relative;
    z-index: 1;}

.algebra-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 50px;}

.geometry-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 50px auto;
    flex-direction: row-reverse;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 50px;
    border-radius: 50px;}

.calculus-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 50px;}
    
button {
    background: #624a63;
    color: white;
    padding: 12px 24px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;}

button:hover {background: #7a5d7c;
                    transform: scale(0.95);}

img {
    width: 500px;
    height: 400px;
    object-fit: contain;}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

/* Responsive Design */ 
@media screen and (max-width: 768px) { 
 
    /* General Styles */ 
    main { 
        font-size: 14px; 
    } 

    /* Hero Section */ 
    .hero { 
        height: auto; 
        padding: 40px 20px; 
    } 
 
    .hero h1 { 
        font-size: 2rem; 
    } 
 
    .hero h2 { 
        font-size: 1.2rem; 
    } 
 
    .hero:after { 
        height: 34%; 
    } 
 
    /* Image Containers - Stack for Mobile */ 
    .algebra-image, 
    .geometry-image, 
    .calculus-image { 
        flex-direction: column-reverse; 
        padding: 20px; 
        max-width: 70%; 
        text-align: center; 
    } 
 
    img { 
        width: 100%; 
        height: auto; 
        object-fit: contain; 
    } 
 
    /* Buttons */ 
    button { 
        font-size: 20px; 
        padding: 10px 15px; 
        width: 80%; 
        margin: 10px auto; 
    }
}