@media screen and (min-width:834px) {
    /* Menu Icon Styling */
    .menu {
        display: none; /* Hide by default on large screens */
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .menu-links {
        display: none; /* Hide by default on large screens */
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 834px) {
    .nav-links {
        display: none;
    }

    .menu {
        color: white;
        margin-right:0;
        padding-right: 5px;
        transition: 0.3s;
    }

    .menu i:hover {
        color: rgba(236, 188, 236, 0.6);
        transition: 0.3s;
    }

    ul li ul.dropdown li {
        display: block;
    }

    ul li ul.dropdown {
        width: 100%;
        background: #624a63;
        position: absolute;
        z-index: 999;
        display: none;
    }

    ul li a:hover {
        background: #624a63;
    }

    ul li:hover ul.dropdown {
        display: block;
    }

}